<h1>Calculate a Pythagorean Formula:</h1>
<form action="">
  <label for="calculation">Insert A</label>
  <input id="calculation" type="name" name="a">
  <br>
  <label for="b">Insert B</label>
  <input id="b" type="name" name="b">
  <br>
  <input type="submit">
</form>
