<h1>Calculate the volume:</h1>
<form action="/forms/6_process">
  <label for="length">Length:</label>
  <input id="length" type="text" name="length">

  <label for="width">Width:</label>
  <input id="width" type="text" name="width">

  <label for="height">Height:</label>
  <input id="height" type="text" name="height">
  <input type="submit">
</form>
